@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --white: #dee2e6;
    --primary-back: #080402;
    --green: #4fd839;
    --dark-green: #2f9d1f;
    --secondary-back: #202123;
}
.gr-col {
    color: var(--green);
}
.wh-col {
    color: var(--white);
}