:root {
    --white: #dee2e6;
    --primary-back: #080402;
    --green: #4fd839;
    --dark-green: #2f9d1f;
    --secondary-back: #202123;
}
.toggle-btn {
    background-color: yellow;
    width: 5vw;
    position: absolute;
    right: 2vw;
    margin-top: 3vh;
    cursor: pointer;
    color: red;
}
.wh-col {
    color: var(--white);
}
.secon-col {
    color: var(--secondary-back);
}
.green-col {
    color: var(--green);
}
.blue-col {
    color: rgb(20, 159, 213);
}
.wh-bg {
    background-color: var(--white);
}
.secon-bg {
    background-color: var(--secondary-back);
}